<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Tutorials</title>
</head>
<body>

    <h1>List of Tutorials</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Published</th>
                <th>Comments</th>
            </tr>

            <tr th:each="tuts : ${listTutorials}">
                <td th:text="${tuts.id}"></td>
                <td th:text="${tuts.title}"></td>
                <td th:text="${tuts.description}"></td>
                <td th:text="${tuts.published}"></td>
                <td th:text="${tuts.comments}"></td>

<!--                <td th:each="comms : ${tuts.comments}">-->
<!--                    <li th:text="${comms.id}"></li>-->
<!--               </td>-->
            </tr>
        </table>


</body>
</html>