<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add A Film</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>


  <h1>Use this page to add a film</h1>

  <form action="#" th:action="@{/addMovie}" method="POST" th:object="${movie}">
    Name: <input type="text" th:field="*{name}"><br>
    Director: <input type="text" th:field="*{director}"><br>
    Release Date: <input type="number" th:field="*{yrRelease}"><br>
    <input type="submit" value="submit"><br>
  </form>

</body>
</html>