<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Avengers Database</title>
</head>
<body>

	<h1>Welcome to our School Application</h1>
	<div th:if="${schoolList.empty}">
		There are no schools in the registry<br>
		<h3><a href="/registerPage">ADD A SCHOOL TO BEGIN</a></h3>
	</div>

	<div th:unless="${schoolList.empty}">
		<ul>
			<li><a href="/registerPage">ADD A SCHOOL</a></li>
			<li><a href="/schoolView">VIEW SCHOOLS</a></li>
			<li><a href="/removeSchools">REMOVE ALL SCHOOLS</a></li>
		</ul>
	</div>

</body>
</html>