<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Schools</title>
</head>
<body>

  <div th:if="${schoolList.empty}">
      <h1>There are no schools currently in the list</h1>
      <a href="/registerPage">ADD A SCHOOL TO BEGIN</a><br>
      <a href="/">BACK TO HOME</a>
  </div>

  <div th:unless="${schoolList.empty}">
      <h1>Here are the schools:</h1>
      <ul th:each="school : ${schoolList}">
          <li th:text="|${school.name} in ${school.addr} has ${school.numStudents} students.|"></li>
      </ul>
      <a href="/">BACK TO HOME</a>
  </div>

</body>
</html>