<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Welcome to our site!</h1>
    <h2>Please enter your information</h2>

    <form action="/register" method="POST">
      First Name: <input type="text" name="firstName"><br>
      Last Name: <input type="text" name="lastName"><br>
      <input type="checkbox" name="rememberMe">Remember Me<br><br>
      <input type="submit" value="submit"><br>
    </form>

</body>
</html>